<div class="ui buttons">
    <a class="ui big button" href="{{ path(configuration.getRouteName('index')) }}">
        {{ 'sylius.ui.cancel'|trans }}
    </a>
    <div class="or"></div>
    <button class="ui big positive button" type="submit">{{ 'sylius.ui.save'|trans }}</button>
</div>
